# -----------------------------------------------------------------------------
#- hackster constraint file (.pcf) !!!for single-micro version of board!!!
#- By Hammond Pearce
#- March 2025
#- MIT license
# -----------------------------------------------------------------------------

# ------------ LED ------------------------------------------------------
set_io ICE_LED 23
set_io RGB_R 39
set_io RGB_G 40
set_io RGB_B 41

# ------------ BTN ------------------------------------------------------
set_io PI_ICE_BTN 21

# -------------------------- SYSTEM CLOCK ------------------------------------
set_io ICE_CLK 35
set_frequency ICE_CLK 10

