# -----------------------------------------------------------------------------
#- hackster constraint file (.pcf)
#- By Hammond Pearce
#- August 2024
#- MIT license
# -----------------------------------------------------------------------------

# ------------ LED ------------------------------------------------------
set_io ICE_LED 23
set_io RGB_R 39
set_io RGB_G 40
set_io RGB_B 41

# ------------ BTN ------------------------------------------------------
set_io PI_ICE_BTN 21

# ------------ RP2040 I2C1
set_io rp2040_sda 27
set_io rp2040_scl 25

# ------------ PERIPH I2C1
# use SDA=4, SCL=3 for cryptomem, SDA=38, SCL=42 for IMU/EEPROM
set_io periph_sda 38
set_io periph_scl 42

# -------------------------- SYSTEM CLOCK ------------------------------------
set_io ICE_CLK 35
set_frequency ICE_CLK 10

